<% include header %>
    <!-- End of Navigation Bar -->

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-home"></span> Class Page</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <p>Your Options are Listed Below:</p>
    </div>

    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">

                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                  </div>

                  <div class="modal-body">
                      <p class='strong'>Due to regulations you are unable to perminatly delete a class</p>
                      <p class='strong'>This is becuase if you delete a class, you remove the attendance history with that class</p>
                      <p class='strong'>You are able to discard a Class though, this will remove the class from calenders, but will keep the attendance information</p>
                      <p>Do you want to proceed?</p>
                      <p class="debug-url"></p>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <a id='confirmDelete' class="btn btn-danger btn-ok">Delete</a>
                  </div>
              </div>
          </div>
      </div>

    <!-- Sends the View Parents and Add Parents navigation to the page -->
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id='viewClass'>View Classs</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" id='addClass'>Add Classs</button>
      </div>
    </div>

  <!-- Add a Class Section -->
  <div class='container'>
    <div class='row'>
  <div class="hideAddClassForm">
  <section id='addClassForm'>
    <h2>Add Class</h2>
      <form id'addClassForm' action="/pupil" method="post">
      <fieldset class="form-group">
          <label for="InputLevel">Class Level</label>
          <input type="number" name="ClassLevel" class="form-control" id="ClassLevel" placeholder="Enter Level" autofocus>
      </fieldset>
      <fieldset class="form-group">
          <label for="InputDate">Class Date</label>
          <input type="date" name="ClassDate" class="form-control" id="ClassDate" placeholder="Enter Date">
      </fieldset>
      <fieldset class="form-group">
          <label for="InputSTime">Class Start Time</label>
          <input type="time" name="ClassSTime" class="form-control" id="ClassSTime" placeholder="Enter Start Time">
      </fieldset>
      <fieldset class="form-group">
          <label for="InputETime">Class End Time</label>
          <input type="time" name="ClassETime" class="form-control" id="ClassETime" placeholder="Enter End Time">
      </fieldset>
      <fieldset class="form-group">
      <label for="sel2">Assign Subject?</label>
          <select class="form-control" id="subjectPicker">
          </select>
      </fieldset>

      <fieldset class="form-group">
      <label for="sel2">Assign Room?</label>
          <select class="form-control" id="roomPicker">
          </select>
      </fieldset>

      <fieldset class="form-group">
      <label for="sel2">Assign Teacher?</label>
          <select class="form-control" id="teacherPicker">
          </select>
      </fieldset>

      <fieldset class="form-group">
      <label for="sel2">Assign Student? (hold shift to select more than one):</label>
          <select multiple class="form-control" id="studentPicker">
          </select>
      </fieldset>

      <p>Everything marked with a * is a mandatory field</p>
      <button type="submit" id="addClassForm" name="addClassForm" class="btn btn-primary">Submit</button>
        <div id="addClassstatus"></div>
    </form>
    </section>
  </div>
</div>
</div>

  <!-- View Class's Section -->
  <div class='container'>
    <div class='row'>
  <div class="hideViewClassList">
  <section class='alignLeft' id='viewClasss'>
    <!-- This is the DIV where all the dtudent data is going -->
    <div id='showAllClass'></div>
      <div id="ClassList">
        <table class="table table-bordered">
          <thead>
            <th>#</th>
            <th>Class Level</th>
            <th>Class Date</th>
            <th>Class Start Time</th>
            <th>Class End Time</th>
            <th>Subject</th>
            <th>Room</th>
            <th>Teacher</th>
            <th>Update</th>
            <th>Delete</th>
          </thead>
          <tbody></tbody>
        </table>
      </div>
  </section>
  </div>
</div>
</div>

  <!-- Update a Class Section -->
  <div class='container'>
    <div class='row'>
  <div class="hideUpdateClassForm" style="display:none;">
  <section id='updateClassForm'>
    <h2>Update Class</h2>
      <form id'updateClassForm' action="/pupil" method="post">
      <fieldset class="form-group">
          <label for="InputLevel">Class Level</label>
          <input type="number" name="ClassLevelUpdate" class="form-control" id="ClassLevelUpdate" placeholder="Enter Level" autofocus>
      </fieldset>
      <fieldset class="form-group">
          <label for="InputDate">Class Date</label>
          <input type="date" name="ClassDateUpdate" class="form-control" id="ClassDateUpdate" placeholder="Enter Date">
      </fieldset>
      <fieldset class="form-group">
          <label for="InputSTime">Class Start Time</label>
          <input type="time" name="ClassSTimeUpdate" class="form-control" id="ClassSTimeUpdate" placeholder="Enter Start Time">
      </fieldset>
      <fieldset class="form-group">
          <label for="InputETime">Class End Time</label>
          <input type="time" name="ClassETimeUpdate" class="form-control" id="ClassETimeUpdate" placeholder="Enter End Time">
      </fieldset>
      <fieldset class="form-group">
          <label for="currentSubject">Current Subject</label>
          <input type="text" name="currentSubject" id="currentSubject" placeholder="Current Subject" disabled>
          <button type="button" id="showSubject" value="Profile" class="btn btn-primary">Change Subject</button>
      <fieldset id='subjectFieldset' class="form-group" style="display:none;">
      <label for="sel2">Assign Subject?</label>
          <select class="form-control" id="subjectPickerUpdate">
          </select>
      </fieldset>
        </fieldset>
        <fieldset class="form-group">
      <label for="currenRoom">Current Room</label>
      <input type="text" name="currentRoom" id="currentRoom" placeholder="Current Time" disabled>
      <button type="button" id="showRoom" value="Profile" class="btn btn-primary">Change Room</button>
      <fieldset id='roomFieldset' class="form-group" style="display:none;">
      <label for="sel2">Assign Room?</label>
          <select class="form-control" id="roomPickerUpdate">
          </select>
      </fieldset>
      </fieldset>
      <fieldset class="form-group">
      <label for="currenTeacher">Current Teacher</label>
      <input type="text" name="currentTeacher" id="currentTeacher" placeholder="Current Teacher" disabled>
      <button type="button" id="showTeacher" value="Profile" class="btn btn-primary">Change Teacher</button>
      <fieldset id='teacherFieldset' class="form-group" style="display:none;">
      <label for="sel2">Assign Teacher?</label>
          <select class="form-control" id="teacherPickerUpdate">
          </select>
      </fieldset>
        </fieldset>
        <fieldset class="form-group">
          <label for="currenParent">Current Students:</label>
          <select class="form-control" id="currentStudent" multiple disabled></select>
          <button type="button" id="showStudent" value="Profile" class="btn btn-primary">Change Students</button>
            <fieldset id='studentFieldset' class="form-group" style="display:none;">
            <label for="sel2">Assign Students?</label>
            <select class="form-control" id="studentPickerUpdate" multiple>
            </select>
        </fieldset>
        </fieldset>

      <p>Everything marked with a * is a mandatory field</p>
      <button type="submit" id="updateClassForm" name="updateClassForm" class="btn btn-primary">Update</button>
        <div id="updateClassstatus"></div>
    </form>
    </section>
  </div>
</div>
</div>

  <script type="text/javascript" src="/javascript/admin/class.js"></script>

  </body>
  </html>
