<% include header %>
  <!-- End of Navigation Bar -->
  <div class="jumbotron text-center">
      <h1><span class="glyphicon glyphicon-home"></span> Parent Page</h1>

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <p>Your Options are Listed Below:</p>
  </div>

  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id='confirmDelete' class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

 <!-- Sends the View Parents and Add Parents navigation to the page -->
 <div class="btn-group btn-group-justified" role="group" aria-label="...">
   <div class="btn-group" role="group">
     <button type="button" class="btn btn-default" id='viewParent'>View Parents</button>
   </div>
   <div class="btn-group" role="group">
     <button type="button" class="btn btn-default" id='addParent'>Add Parents</button>
   </div>
 </div>

 <!-- Add a Parent Section -->
 <div class="container">
   <div class="row">
 <div class="hideAddParentForm">
 <section id='addParentForm'>
 <h2>Add Parent</h2>
   <form id'addParentForm' action="/pupil" method="post">
   <fieldset class="form-group">
       <label for="InputTitle">Parent Title</label>
       <input type="text" name="ParentTitle" class="form-control" id="ParentTitle" placeholder="Enter Title" autofocus>
   </fieldset>
   <fieldset class="form-group">
       <label for="InputFname">Parent First Name</label>
       <input type="text" name="ParentFName" class="form-control" id="ParentFName" placeholder="Enter First Name">
   </fieldset>
   <fieldset class="form-group">
       <label for="InputLname">Parent Last Name</label>
       <input type="text" name="ParentLName" class="form-control" id="ParentLName" placeholder="Enter Last Name">
   </fieldset>
   <fieldset class="form-group">
       <label for="InputEmail">Parent Email</label>
       <input type="email" name="ParentEmail" class="form-control" id="ParentEmail" placeholder="Enter Email">
   </fieldset>
   <fieldset class="form-group">
       <label for="InputMobilePhone">Parent Mobile Number</label>
       <input type="text" name="ParentMobileNumber" class="form-control" id="ParentMobileNumber" placeholder="Enter Mobile Phone">
   </fieldset>
   <fieldset class="form-group">
       <label for="InputHomePhone">Parent Home Number</label>
       <input type="text" name="ParentHomeNumber" class="form-control" id="ParentHomeNumber" placeholder="Enter Home Phone">
   </fieldset>
   <fieldset class="form-group">
       <label for="InputAddress">Parent Address</label>
       <input type="text" name="ParentAddress" class="form-control" id="ParentAddress" placeholder="Enter Address">
   </fieldset>
   <fieldset class="form-group">
       <label for="InputUsername">Parent Username</label>
       <input type="text" name="ParentUsername" class="form-control" id="ParentUsername" placeholder="Enter Username">
   </fieldset>
   </fieldset>
   <fieldset class="form-group">
       <label for="InputPassword">Parent Password</label>
       <input type="text" name="ParentPassword" class="form-control" id="ParentPassword" placeholder="Enter Password">
   </fieldset>
   <fieldset class="form-group">
   <label for="sel2">Assign Student? (hold shift to select more than one):</label>
       <select multiple class="form-control" id="studentPicker">
         <option value="0"selected="selected">No Student Assigned</option>
       </select>
   </fieldset>

   <p>Everything marked with a * is a mandatory field</p>
   <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
     <div id="addParentstatus"></div>
 </form>
 </section>
 </div>
 </div>
 </div>

 <!-- View Parent's Section -->
 <div class="container">
   <div class="row">
 <div class="hideViewParentList">
 <section class='alignLeft' id='viewParents'>
 <!-- This is the DIV where all the dtudent data is going -->
 <div id='showAllParent'></div>
   <div id="ParentList">
     <table class="table table-bordered">
       <thead>
         <th>#</th>
         <th>Parent Name</th>
         <th>Parent Email</th>
         <th>Profile</th>
         <th>Update</th>
         <th>Delete</th>
       </thead>
       <tbody></tbody>
     </table>
   </div>
 </section>
 </div>
  </div>
   </div>

   <!-- Add a Parent Section -->
   <div class="container">
     <div class="row">
   <div class="hideUpdateParentForm" style="display:none;">
   <section id='updateParentForm'>
   <h2>Add Parent</h2>
     <form id'updateParentForm' action="/pupil" method="post">
     <fieldset class="form-group">
         <label for="InputTitle">Parent Title</label>
         <input type="text" name="ParentTitleUpdate" class="form-control" id="ParentTitleUpdate" placeholder="Enter Title" autofocus>
     </fieldset>
     <fieldset class="form-group">
         <label for="InputFname">Parent First Name</label>
         <input type="text" name="ParentFNameUpdate" class="form-control" id="ParentFNameUpdate" placeholder="Enter First Name">
     </fieldset>
     <fieldset class="form-group">
         <label for="InputLname">Parent Last Name</label>
         <input type="text" name="ParentLNameUpdate" class="form-control" id="ParentLNameUpdate" placeholder="Enter Last Name">
     </fieldset>
     <fieldset class="form-group">
         <label for="InputEmail">Parent Email</label>
         <input type="email" name="ParentEmailUpdate" class="form-control" id="ParentEmailUpdate" placeholder="Enter Email">
     </fieldset>
     <fieldset class="form-group">
         <label for="InputMobilePhone">Parent Mobile Number</label>
         <input type="text" name="ParentMobileNumberUpdate" class="form-control" id="ParentMobileNumberUpdate" placeholder="Enter Mobile Phone">
     </fieldset>
     <fieldset class="form-group">
         <label for="InputHomePhone">Parent Home Number</label>
         <input type="text" name="ParentHomeNumberUpdate" class="form-control" id="ParentHomeNumberUpdate" placeholder="Enter Home Phone">
     </fieldset>
     <fieldset class="form-group">
         <label for="InputAddress">Parent Address</label>
         <input type="text" name="ParentAddressUpdate" class="form-control" id="ParentAddressUpdate" placeholder="Enter Address">
     </fieldset>
     <fieldset class="form-group">
         <label for="InputUsername">Parent Username</label>
         <input type="text" name="ParentUsernameUpdate" class="form-control" id="ParentUsernameUpdate" placeholder="Enter Username">
     </fieldset>

     <fieldset class="form-group">
       <label for="currenStudent">Current Students</label>
       <select class="form-control" id="currentStudent" multiple disabled></select>
       <button type="button" id="showStudent" value="Profile" class="btn btn-primary">Change Students</button>
         <fieldset id='studentFieldset' class="form-group" style="display:none;">
         <label for="sel2">Assign Parents?</label>
         <select class="form-control" id="studentPickerUpdate" multiple>
         </select>
     </fieldset>
     </fieldset>

     <p>Everything marked with a * is a mandatory field</p>
     <button type="submit" id="update" name="update" class="btn btn-primary">Update</button>
       <div id="updateParentstatus"></div>
   </form>
   </section>
   </div>
   </div>
   </div>
 <script type="text/javascript" src="/javascript/admin/parent.js"></script>

</body>
</html>
