<% include header %>
  <!-- End of Navigation Bar -->

  <div class="jumbotron text-center">
      <h1><span class="glyphicon glyphicon-home"></span> Pupil Page</h1>


      <p>Your Options are Listed Below:</p>
  </div>
  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <!-- Sends the View Parents and Add Parents navigation to the page -->
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id='viewStudent'>View Students</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id='addStudent'>Add Students</button>
    </div>
  </div>

<!-- Add a Student Section -->
<div class="hideAddStudentForm">
<section id='addStudentForm'>
  <h2>Add Student</h2>
    <form id'addStudentForm' action="/pupil" method="post">
    <fieldset class="form-group">
        <label for="InputTitle">Student Title</label>
        <input type="text" name="studentTitle" class="form-control" id="studentTitle" placeholder="Enter Title" autofocus>
    </fieldset>
    <fieldset class="form-group">
        <label for="InputFname">Student First Name</label>
        <input type="text" name="studentFName" class="form-control" id="studentFName" placeholder="Enter First Name">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputLname">Student Last Name</label>
        <input type="text" name="studentLName" class="form-control" id="studentLName" placeholder="Enter Last Name">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputEmail">Student Email</label>
        <input type="email" name="studentEmail" class="form-control" id="studentEmail" placeholder="Enter Email">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputYear">Student Year</label>
        <input type="text" name="studentYear" class="form-control" id="studentYear" placeholder="Enter Year">
    </fieldset>
    <fieldset class="form-group">
        <label for="InputUsername">Student Username</label>
        <input type="text" name="studentUsername" class="form-control" id="studentUsername" placeholder="Enter Username">
    </fieldset>
    </fieldset>
    <fieldset class="form-group">
        <label for="InputPassword">Student Password</label>
        <input type="text" name="studentPassword" class="form-control" id="studentPassword" placeholder="Enter Password">
    </fieldset>
    <fieldset class="form-group">
    <label for="sel2">Assign Parent? (hold shift to select more than one):</label>
        <select multiple class="form-control" id="parentPicker">
          <option value="0"selected="selected">No Parent Assigned</option>
        </select>
    </fieldset>

    <p>Everything marked with a * is a mandatory field</p>
    <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
      <div id="addStudentstatus"></div>
  </form>
  </section>
</div>

<!-- View Student's Section -->
<div class="hideViewStudentList">
<section class='alignLeft' id='viewStudents'>
  <!-- This is the DIV where all the dtudent data is going -->
  <div id='showAllStudent'></div>
    <div id="studentList">
      <table class="table table-bordered">
        <thead>
          <th>#</th>
          <th>Student Name</th>
          <th>Student Email</th>
          <th>Year</th>
          <th>Profile</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
</section>
</div>
<script type="text/javascript" src="/javascript/admin/student.js"></script>
</body>
</html>
