<% include header %>
  <!-- End of Navigation Bar -->

  <div class="jumbotron text-center">
      <h1><span class="glyphicon glyphicon-home"></span> Room Page</h1>

      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <p>Your Options are Listed Below:</p>
  </div>
  <div class='center'>
<div class="alert alert-success">Room Successfully Deleted</div>
</div>
  <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a id='confirmDelete' class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

  <!-- Sends the View Parents and Add Parents navigation to the page -->
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id='viewRoom'>View Rooms</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" id='addRoom'>Add Rooms</button>
    </div>
  </div>

<!-- Add a Room Section -->
<div class='container'>
  <div class='row'>
<div class="hideAddRoomForm">
<section id='addRoomForm'>
  <h2>Add Room</h2>
    <form id'addRoomForm' action="/pupil" method="post">
    <fieldset class="form-group">
        <label for="InputRoom">Room Name</label>
        <input type="text" name="roomName" class="form-control" id="roomName" placeholder="Room Name" autofocus>
    </fieldset>
    <fieldset class="form-group">
        <label for="InputDescription">Room Description</label>
        <input type="text" name="roomDescription" class="form-control" id="roomDescription" placeholder="Room Description">
    </fieldset>
    <p>Everything marked with a * is a mandatory field</p>
    <button type="submit" id="addRoomForm" name="addRoomForm" class="btn btn-primary">Submit</button>
      <div id="addRoomstatus"></div>
  </form>
  </section>
</div>
</div>
</div>

<!-- View Room's Section -->
<div class='container'>
  <div class='row'>
<div class="hideViewRoomList">
<section class='alignLeft' id='viewRooms'>
  <!-- This is the DIV where all the dtudent data is going -->
  <div id='showAllRoom'></div>
    <div id="RoomList">
      <table class="table table-bordered">
        <thead>
          <th>#</th>
          <th>Room Name</th>
          <th>Room Description</th>
          <th>Update</th>
          <th>Delete</th>
        </thead>
      </table>
    </div>
    <div id="Roomstatus"></div>
</section>
</div>
</div>
</div>

<div class='container'>
  <div class='row'>
    <div class="hideUpdateRoomForm" style="display:none;">
      <section id='updateRoomForm'>
        <h2>Update Room</h2>
          <form id'addRoomForm' action="/pupil" method="post">
            <fieldset class="form-group">
              <label for="InputRoom">Room Name</label>
              <input type="text" name="roomNameUpdate" class="form-control" id="roomNameUpdate" placeholder="Room Name" autofocus>
            </fieldset>
            <fieldset class="form-group">
              <label for="InputDescription">Room Description</label>
              <input type="text" name="roomDescriptionUpdate" class="form-control" id="roomDescriptionUpdate" placeholder="Room Description">
            </fieldset>
            <p>Everything marked with a * is a mandatory field</p>
            <button type="submit" id="updateRoomForm" name="updateRoomForm" class="btn btn-primary">Submit</button>
            <div id="updateRoomstatus"></div>
          </form>
        </section>
      </div>
    </div>
  </div>

<script type="text/javascript" src="/javascript/admin/room.js"></script>


</body>
</html>
