
body {
  word-wrap:break-word;
}
section {
  padding: 1em;
  padding-right: 2em;
  color: black;
}
p {
  padding-bottom: 10px;
}
.alignLeft{
  float:left;
}
.alrighRight{
  float:right;
  padding-right:150px;
}

/* Padding Quries
------------------------------------------*/
.paddingTop{
  padding-top: 150px;
}
.paddingBottom{
  padding-bottom: 150px;
}
.paddingRight{
  padding-right: 150px;
}
.paddingLeft{
  padding-left: 150px;
}

.bottom {
    padding-bottom: 20px;
}

/* Visibility Quries
------------------------------------------*/
.hideAddStudentForm{
  display: none;
}
.hideViewStudentList{
  display: none;
}
.showAddStudentForm{
  display: block;
}
.showViewStudentList{
  display: block;
}

.hideAddTeacherForm{
  display: none;
}
.hideViewTeacherList{
  display: none;
}
.showAddTeacherForm{
  display: block;
}
.showViewTeacherList{
  display: block;
}

.hideAddParentForm{
  display: none;
}
.hideViewParentList{
  display: none;
}
.showAddParentForm{
  display: block;
}
.showViewParentList{
  display: block;
}

.hideAddClassForm{
  display: none;
}
.hideViewClassList{
  display: none;
}
.showAddClassForm{
  display: block;
}
.showViewClassList{
  display: block;
}

.hideAddRoomForm{
  display: none;
}
.hideViewRoomList{
  display: none;
}
.showAddRoomForm{
  display: block;
}
.showViewRoomList{
  display: block;
}

.hideAddSubjectForm{
  display: none;
}
.hideViewSubjectList{
  display: none;
}
.showAddSubjectForm{
  display: block;
}
.showViewSubjectList{
  display: block;
}

#ClassList td {
  text-align: center;
  vertical-align: middle;
}
#ClassList th {
  text-align: center;
  vertical-align: middle;
}
#calendar {
		max-width: 900px;
		margin: 0 auto;
	}


  .user-row {
      margin-bottom: 14px;
  }

  .user-row:last-child {
      margin-bottom: 0;
  }

  .dropdown-user {
      margin: 13px 0;
      padding: 5px;
      height: 100%;
  }

  .dropdown-user:hover {
      cursor: pointer;
  }

  .table-user-information > tbody > tr {
      border-top: 1px solid rgb(221, 221, 221);
  }

  .table-user-information > tbody > tr:first-child {
      border-top: 0;
  }

  .table-user-information > tbody > tr > td {
      border-top: 0;
  }
  .toppad
  {margin-top:20px;
  }
