<% if (user.role === 'Teacher') { %>
    <% include ../teacher/header %>
<% } else if (user.role === 'Parent'){ %>
    <% include ../parent/header %>
<% } else{ %>
   <% include ../admin/header %>
<% } %>

<div class="jumbotron text-center">
    <h1>Parent Information <span class="glyphicon glyphicon-info-sign"></span></h1>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
</div>
<div class="profileEffect">
<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">
                <span class='parentID' id="<%= parentID %>"></span>
                <td><div id='parentName'></div></td>
              </h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/noimage.gif" class="img-circle img-responsive"> </div>
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Parent Name: </td>
                        <td><div id='parentNamee'></div></td>
                      </tr>
                      <tr>
                      <tr>
                        <td>Parent Email: </td>
                        <td><div id='parentEmail'></div></td>
                      </tr>
                         <tr>
                      <tr>
                       <td>Parent Mobile Number: </td>
                       <td><div id='parentMNumber'></div></td>
                      </tr>
                      <tr>
                       <td>Parent Home Number: </td>
                       <td><div id='parentHNumber'></div></td>
                      </tr>
                      <tr>
                       <td>Parent Address: </td>
                       <td><div id='parentAddress'></div></td>
                      </tr>
                        <tr>
                        <td>Parent Username: </td>
                        <td><div id='parentUsername'></div></td>
                        </tr>
                        <tr>
                         <td>Current Children: </td>
                         <td><select class="form-control" id="currentStudent" multiple disabled></select></td>
                        </tr>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-primary" id="getTimetable">parent Timetable</button>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

    <script type="text/javascript" src="/javascript/parent.js"></script>
    </body>
    </html>
