<% include header %>
  <!-- End of Navigation Bar -->

  <div class="jumbotron text-center">
      <h1><span class="glyphicon glyphicon-calendar"></span> Your Timetable </h1>
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>
  </div>

<div id='calendar'></div>

<script type="text/javascript" src="/javascript/teacher/timetable.js"></script>
</body>
</html>
